<nav>
  <ul>
   <li><a href="/api/v1/students">List Students</a></li>
   <li><a href="/api/v1/students/new">Add Student</a></li>
   <li><a href="/api/v1/students/edit">Edit Student</a></li>
  </ul> 
</nav>